
{% extends 'layouts/blank.html' %}

{% block content %}

<a class="button button-gray text-xs ml-1 my-1" href="{% url 'post_create' %}">Create New Post</a>
<ul>
    {% for post in posts %}
    <li class="text-center flex flex-col items-center block max-w-3xl mx-auto md:p-12 bg-white rounded-2xl md:drop-shadow-2xl shadow-black w-full p-8 mt-10">  
            <h1><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h1>
            <div>{{ post.get_markdown|safe }}</div>
            <p class="w-full flex justify-end text-xs">{{ post.created_at }}</p>
            <div class="w-full flex justify-end">
                <div class="w-full flex">
                    <a class="button button-gray text-xs ml-1" href="{% url 'post_detail' post.id %}">댓글달기</a>
                </div>
                <a class="button button-blue text-xs ml-1" href="{% url 'post_update' post.id %}">Edit</a>
                <a class="button button-red text-xs ml-1" href="{% url 'post_delete' post.id %}" onclick="return confirm('Are you sure you want to delete this post?');">Delete</a>
            </div>
        </li>
    {% endfor %}
</ul>

{% endblock %}
